/* css/styles.css of 2026-12-dec making 2026-dec.bauska.org */
/* was: font-family:'Bradley Hand', cursive, 'OCR A Std', monospace, Helvetica; */
body {
  font-family:Helvetica, 'Bradley Hand'; cursive, 'OCR A Std', monospace;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2026-dec.bauska.org/images/mst3k-chicken-600.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#FFF;
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* pure (or mostly pure) yellow, eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}
.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
  font-size:75%;
  list-style:none;
  padding-left:20px;
  padding-right:5px;
}

.event {
  border-radius:5px;
  color:#10171c;  /* very dark (mostly black) blue */
  padding:5px;
  margin:5px 0;
}
.container {
  background-color: #ffffff;  /* white */
  border: 2px solid #dcdcdc;  /* very light gray */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba
  (0, 0, 0, 0.1);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: #4169e1;  /* royalblue */
  text-decoration: none;
  position: relative;
  padding-right:50px;  /* 6-23-2025 */
  font-family: Helvetica, Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #990000;  /* crimson */
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}
a:hover {
  color: #990000;  /* crimson */
}
a:hover::after {
  width: 88%;
}

/* World, National & International Days */
.cyber-monday {
  background-color:#e8e193;  /* very soft yellow */
}
.giving-tuesday {
  background-color:#c2e7e7;  /* light grayish cyan */
}
.natl-cookie {
  background-color:#ff8080;  /* very light red */
}
.world-volunteer {
  background-color:#ff9933;  /* vivid orange */
}
.natl-donut {
  background-color:#ff80bf;  /* very light pink */
}
.pearl-harbor {
  background-color:#cde6ff;  /* very pale blue */
}
.human-rights {
  background-color:#ff9a9a;  /* light red */
}
.intl-mountain {
  background-color:#e6cdff;  /* very pale violet */
}
.natl-cocoa {
  background-color:#ff8c1a;  /* vivid orange */
}
.bill-of-rights {
  background-color:#ffb21a;  /* vivid orange */
}
.natl-maple-syrup {
  background-color:#ffb4f4;  /* pale red (pink tone) */
}
.super-saturday {
  background-color:#9ab3ff;  /* pale blue */
}
.start-winter {
  background-color:#ceceff;  /* very pale blue, was; 98fb98 - very soft lime green */
  font-family: Bahnschrift, "Lucida Console", "Courier New", monospace, Helvetica;
  font-size:110%;
}
.xmas {
  background-color:#ff4d4d;  /* light red, was; a6f4ff - pale cyan */
  font-family: Bahnschrift, "Lucida Console", "Courier New", monospace, Helvetica;
  font-size:110%;
}
.boxing {
  background-color:#ffc0cb;  /* very pale red (pink) */
}
.new-years-eve {
  background-color:#9aff9a;  /* pale lime green */
  font-family: Bahnschrift, "Lucida Console", "Courier New", monospace, Helvetica;
  font-size:110%;
}
